.nav-box {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  width: 138px;
  padding: 10px 0;
  color: #ff868e;
  background: #fff;
  border-radius: 10px;
  text-decoration: none;
  font-family: "Jost";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2px;
}

.nav-box__btn:hover {
  background: #fbe0dc;
}

.nav-box__btn-active {
  color: #fff;
  background: #ff868e;
}
